<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- FMK_IOT_USER 테이블 MAPPER -->
<mapper namespace="kr.or.kids.domain.ca.user.mapper.UserMapper">

    <!-- 목록조회 -->
    <sql id="commonList">
        SELECT
               a.user_id
             , a.user_login_id
             , a.user_name
             , a.gender_type_cd
             , a.user_email
             , safe_decrypt(a.user_tel,'${db_encrypt_key}') AS user_tel
             , a.del_yn
             , a.in_admin_id
             , TO_CHAR(a.in_datetime, 'YYYY-MM-DD HH24:MI:SS') AS in_datetime
             , a.up_admin_id
             , TO_CHAR(a.up_datetime, 'YYYY-MM-DD HH24:MI:SS') AS up_datetime
        FROM "public"."DRUGSAFE_USER" a
        WHERE 1=1
          AND a.del_yn = 'N'
        ORDER BY a.user_id DESC
    </sql>

    <!-- 기본 목록 조회 -->
    <select id="list" resultType="UserDataResVO">
        <include refid="commonList"></include>
    </select>

    <!-- 기본조회 -->
    <select id="data" parameterType="UserIdReqVO" resultType="UserDataResVO">
        SELECT
               a.user_id
             , a.user_login_id
             , a.user_name
             , a.user_email
             , safe_decrypt(a.user_tel, '${db_encrypt_key}') AS user_tel
             , a.gender_type_cd
             , a.del_yn
             , a.in_admin_id
             , TO_CHAR(a.in_datetime, 'YYYY-MM-DD HH24:MI:SS')
             , a.up_admin_id
             , TO_CHAR(a.up_datetime, 'YYYY-MM-DD HH24:MI:SS')
        FROM "public"."DRUGSAFE_USER" a
        WHERE 1=1
          AND a.del_yn = 'N'
          AND a.user_id = #{userId}
    </select>

    <!-- 기본 수정 -->
    <update id="update" parameterType="UserUpdateReqVO">
        UPDATE public.drugsafe_user
        SET
            user_pw        = COALESCE(#{userPw}, user_pw)
          , user_name      = COALESCE(#{userName}, user_name)
          , user_tel       = safe_encrypt(#{userTel},'${db_encrypt_key}')
          , user_email     = COALESCE(#{userEmail}, user_email)
          , gender_type_cd = COALESCE(#{genderTypeCd}, gender_type_cd)
          , up_admin_id    = COALESCE(#{upAdminId}, up_admin_id)
          , up_datetime    = now()
        WHERE 1=1
          AND del_yn = 'N'
          AND user_id = #{userId}
    </update>

    <!-- 기본 삭제 -->
    <update id="delete" parameterType="UserDeleteReqVO">
        UPDATE public.drugsafe_user
        SET  del_yn      = 'Y'
          , up_admin_id = COALESCE(#{upAdminId}, up_admin_id)
          , up_datetime = now()
        WHERE 1=1
          AND del_yn = 'N'
          AND user_id = #{userId}
    </update>


    <!-- 다음 파일 일련번호 -->
    <select id="nextUserId" resultType="long">
        SELECT nextval('DRUGSAFE_USER_SEQ')
    </select>

    <!-- 파일정보 등록 -->
    <insert id="insert" parameterType="UserUpdateReqVO">
        INSERT INTO public.drugsafe_user (
                                             user_id
                                           , user_login_id
                                           , user_pw
                                           , user_name
                                           , user_email
                                           , user_tel
                                           , gender_type_cd
                                           , user_status_cd
                                           , mbsh_se_cd
                                           , user_type_cd
                                           , last_ip
                                           , del_yn
                                           , in_admin_id
                                           , in_datetime
                                    ) VALUES (
                                           #{userId}
                                         , #{userLoginId}
                                         , #{userPw}
                                         , #{userName}
                                         , #{userEmail}
                                         , safe_encrypt(#{userTel},'${db_encrypt_key}')
                                         , #{genderTypeCd}
                                         , #{userStatusCd}
                                         , #{mbshSeCd}
                                         , #{userTypeCd}
                                         , #{lastIp}
                                         , #{delYn}
                                         , #{inAdminId}
                                         , NOW() -- 등록 일시
                                         );
    </insert>


</mapper>
