<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Hello Thymeleaf</title>
    </head>
    <body>
    <h2 th:text="'Hello, ' + ${name} + '!'">Hello, Guest!</h2>
    <p>이 페이지는 Spring Boot에서 구동되는 Thymeleaf 페이지입니다.</p>

    <div th:if="${error != null}">
        <p style="color: red;" th:text="${error}"></p>
    </div>

    <div th:if="${error == null}">
        <br><b>[Normal policy]</b><br><br>

        <span th:text="${sString}"></span> ->
        <span style="color: red;" th:text="${sOutput}"></span>
        <br>

        <span th:text="${sOutput}"></span> ->
        <span style="color: blue;" th:text="${sDecoded}"></span>
        <br><br>

        <b>[Hash policy]</b><br><br>
        <span th:text="${sString}"></span> ->
        <span style="color: green;" th:text="${sOutput_H}"></span>

        <br><br><br><br>
        <b style="color: red;">Elapsed: <span th:text="${nDuration}"></span> ms</b>
    </div>
    </body>
</html>
